{% extends 'configurator/base.html' %}
{% load static %}

{% block title %}
  {{ 'Pressel Selection' }}
{% endblock %}

{% block content %}

<header>
  <h1>Pressel selection</h1>
</header><br>

<div class="background-container" id="pressel-background">
    <form id="pressel-form" method="POST">
      {% csrf_token %}
      <div class="form-group">
        {{ form.type.label_tag }}
        {{ form.type}}
      </div>
      <div class="form-group">
        {{ form.pressel_finish.label_tag }}
        {{ form.pressel_finish }}
      </div>
      <div class="form-group">
        {{ form.polycarbonate_color.label_tag }}
        {{ form.polycarbonate_color }}
      </div>
      <div class="form-group">
        {{ form.pressel_legend.label_tag }}
        {{ form.pressel_legend }}
       </div><br>
       <button type="submit" id="view-button">Show pressel code</button>
       <button type="button" id="reset-button">Reset Form</button>
    </form><br>

    {% if pressel_code %}
    <div>
      <span id="button-code" class="padding-in output">{{ pressel_code }}</span>
      <button id="copy-button">Copy to Clipboard</button>
    </div>
  {% endif %}
</div><br>

<script>
  document.getElementById('reset-button').addEventListener('click', function() {
    document.getElementById('pressel-form').reset(); // Reset the form
  });
</script>

{% endblock content %}