{% extends 'configurator/base.html' %}
{% load static %}

{% block title %}
  {{ 'Pressel Selection' }}
{% endblock %}

{% block content %}

<header>
  <h1>Pressel selection</h1>
</header><br>

<div class="background-container">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        {{ form.type.label_tag }}
        {{ form.type}}
      </div>
      <div class="form-group">
        {{ form.pressel_finish.label_tag }}
        {{ form.pressel_finish }}
      </div>
      <div class="form-group">
        {{ form.polycarbonate_color.label_tag }}
        {{ form.polycarbonate_color }}
      </div>
      <div class="form-group">
        {{ form.pressel_legend.label_tag }}
        {{ form.pressel_legend }}
       </div><br>
       <button type="submit" id="view-button">Show pressel code</button>
    </form><br>

    {% if pressel_code %}
    <div>
      <span id="button-code" class="padding-in output">{{ pressel_code }}</span>
      <button id="copy-button">Copy to Clipboard</button>
    </div>
  {% endif %}
</div><br>

  

  <style>
    .background-container {
      background-position: center;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-size: 40%;
      background-image: url({% static 'images/Pressels_all.jpg' %});
      margin-left: 30px;
    }
    
    .form-group {
      display: block;
      margin-bottom: 10px;
    }
    
    .form-group label {
      display: block;
    }
</style>

{% endblock content %}