{% extends 'configurator/base.html' %}
{% load static %}

{% block title %}
  {{ 'Standard button' }}
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <header>
    <h1>Standard button</h1>
  </header><br>

<div class="background-container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.button_body.label_tag }}
      {{ form.button_body }}
    </div>
    <div class="form-group">
      {{ form.contact_type.label_tag }}
      {{ form.contact_type }}
    </div>
    <div class="form-group">
      {{ form.led_voltage.label_tag }}
      {{ form.led_voltage }}
    </div>
    <div class="form-group">
      {{ form.led_color.label_tag }}
      {{ form.led_color }}
    </div>
    <div class="form-group">
      {{ form.surround_type.label_tag }}
      {{ form.surround_type }}
    </div>
    <div class="form-group">
      {{ form.surround_color.label_tag }}
      {{ form.surround_color }}
    </div>
    <div class="form-group">
      {{ form.surround_form.label_tag }}
      {{ form.surround_form }}
    </div><br>
    <button type="submit">Generate code</button>
  </form><br>

  {% if button_code %}
    <div>
      <span class="border border-success border-2 bg-light">{{ button_code }}</span>
    </div>
  {% endif %}
</div>

<p>
<a id="links" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'select-pressel' %}">
  Go to pressel selection page
</a>
</p>

<style>
    .background-container {
      background-position: center;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-size: 40%;
      background-image: url({% static 'images/Selection.jpg' %});
      margin-left: 30px;
    }
    
    .form-group {
      display: block;
      margin-bottom: 10px;
    }
    
    .form-group label {
      display: block;
    }
</style>

{% endblock %}
