{% extends 'configurator/base.html' %}
{% load static %}

{% block title %}
  {{ 'Standard button' }}
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <header>
    <h1>Standard button</h1>
  </header><br>

<div class="background-container" id="stand-butt-background">
  <h3>Three-part kit builder</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.button_body.label_tag }}
      {{ form.button_body }}
    </div>
    <div class="form-group">
      {{ form.contact_type.label_tag }}
      {{ form.contact_type }}
    </div>
    <div class="form-group">
      {{ form.led_voltage.label_tag }}
      {{ form.led_voltage }}
    </div>
    <div class="form-group">
      {{ form.led_color.label_tag }}
      {{ form.led_color }}
    </div>
    <div class="form-group">
      {{ form.surround_type.label_tag }}
      {{ form.surround_type }}
    </div>
    <div class="form-group">
      {{ form.surround_color.label_tag }}
      {{ form.surround_color }}
    </div>
    <div class="form-group">
      {{ form.surround_form.label_tag }}
      {{ form.surround_form }}
    </div><br>
    <button type="submit" class="btn btn-outline-success">View stock code</button>
    <a href="{% url 'stand-butt' %}" class="btn btn-outline-secondary">Reset Form</a>
  </form><br>

  {% if button_code %}
    <div>
      <span id="button-code" class="padding-in output">{{ button_code }}</span>
      <button id="copy-button">Copy to Clipboard</button>
    </div>
  {% endif %}
</div><br>

<p>
<a id="links" class="p-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'select-pressel' %}">
  Go to pressel selection >>>
</a>
</p>

{% endblock %}
